
* {
    font-family: Roboto, Helvetica, sans-serif;
}

header {
  background-color:  #1f2937;
  color: #F9FAF8;
  min-height: 200px; 
  padding: 48px;
  padding-top: 3px;

}

.topline {
  display: flex;
  justify-content: space-between;
}

.mainline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  font-size: 24px;
  margin-left: 0px;
}

ul {
    display: flex;
    gap: 12px;
}

li {
   list-style-type: none; 
}

.hero {
    width: 300px;   
}

.hero h1 {
  /*font-weight: 72px;
  font-style: extra-bold; 
  h1 default overrides!! why? */
}

.mainline p {
  font-size: 18px;
  font-weight: 100;
  color: #E5E7EB;
  width: 300px;
}

.mainline img {
    flex: auto;
    margin-right: 0px;
    max-width: 250px;
}

button {
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 3px 12px;
  border-radius: 7px;
}

.hero button {
  border: 1px solid blue;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.boxes {
  display: flex; 
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.media {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.image {
  width: 150px;
  height: 170px;
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.content {
  padding-top: 10px;
  text-align: center;
}

.quotebox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #E5E7EB;
  margin-top: 50px;
}

.quote {
  display: flex;
  flex-direction: column;
}

blockquote {
  font-weight: 100;
  font-size: 1.2em;
  font-style: italic;
}

cite {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  background-color: #3882f6;
  padding: 60px;
  border-radius: 15px;
}

.call_to_action p {
  color: #E5E7EB;
  width: 300px;
  margin: 0%;
  padding: 5px;
}

.bold {
  font-weight: 700;
  font-size: 1.2em;
}

.light {
  font-weight: 100;
}

footer button {
  border: 2px solid white;
  margin-left: auto;
}

