
* {
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    background-color:  #1f2937;
    color: #F9FAF8;
  min-height: 200px; 
  padding: 48px;
  padding-top: 3px;

}

.topline {
  display: flex;
  justify-content: space-between;
}

.mainline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  font-size: 24px;
  margin-left: 0px;
  
}

ul {
    display: flex;
    gap: 12px;
}

li {
   list-style-type: none; 
   
}

.hero {
    width: 300px;
    
}

.hero h1 {
  /*font-weight: 72px;
  font-style: extra-bold; h1 default overrides!!*/

}

.mainline p {
  font-size: 18px;
  font-weight: 100;
  color: #E5E7EB;
}

.mainline img {
    flex: auto;
    margin-right: 0px;
    max-width: 300px;

}

button {
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 3px 12px;
  border-radius: 7px;

}

.title {
  margin: auto;
  max-width: 300px;
  padding: 40px;
}

.boxes {
  display: flex; 
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.media {
  display: flex;
  flex-direction: column;
  flex: auto;
  max-width: 130px;
}

.image {
  flex: auto;
  max-width: 130px;
}

.content {

}

.quote {
  margin: auto;
  max-width: 300px;
  background-color: grey;
  padding: 100px;
}

